<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ELR | {{ page.title }}</title>
        <link rel="stylesheet" href="/End-Rail/style.css">
    </head>
    <body>
        <header>
            <a href="/End-Rail/">Home</a>
            <a href="/End-Rail/manual/">ELR Manual</a>
            <a href="/End-Rail/tools">Tools</a>
            <a href="/End-Rail/map">The Map</a>
            <a href="/End-Rail/about">About ELR</a>
        </header>
        <br>
        <main>
            <div id="breadcrumbs">
                {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
<!--                 {{ page.url }} -->
<!--                 {{ crumbs }} -->
                <a href="/End-Rail/">Home</a>
                {% for crumb in crumbs offset: 1 %}
                    {% if forloop.last %}
                        / {{ page.title }}
                    {% else %}
                        / <a href="/End-Rail{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            {{ content }}
        </main>
        <br><br><br><br>
        <footer>
            🄯 2026 End of the Line Rail Company | <a href="https://github.com/EndDragon438/End-Rail">Source</a>
        </footer>
    </body>
</html>
